/* CONTAINER */
.container
{
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container article{
    margin: 0 2rem;
}

/* FORM DESIGN */
input[type='text'],
input[type='number'],
input[type='button'],
button{
    border: 0;
    outline: none !important;
    transition: all 0.2s ease-in-out;    

}

.switch_controls
{
    height: 50vh;
    width: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    background: rgb(247, 242, 246); 
    background: -webkit-linear-gradient(rgb(247, 242, 246), rgb(178, 172, 158));
    background: linear-gradient(rgb(247, 242, 246), rgb(178, 172, 158));
    border-radius: 0.5rem;
    box-shadow: 0 8px 6px -6px #777;
    
}

.switch_form{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
}


.switch_controls > div{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.switch_controls input[type='text'],
.switch_controls input[type='number']{
    width: auto;
    margin: 1rem 2rem;
    padding: 0.5rem 0;
    color: #777;
    font-size: 1rem;
    text-align: center;
    border-radius: 1rem;
    background: rgb(247, 242, 246); 
    background: -webkit-linear-gradient(rgb(247, 242, 246), rgb(178, 172, 158));
    background: linear-gradient(rgb(247, 242, 246), rgb(178, 172, 158));
    box-shadow: 0 10px 6px -6px #777;
}

input[type='number'] label{
    padding-right: 1rem;
}

.switch_controls button{
   color: #777;
   width: 100%;
   font-size: 1rem;
   font-weight: 700;
   letter-spacing: 0.2rem;
   text-transform: capitalize;
   border-radius: 2rem;
   max-width: 12rem;
   margin: 0.75rem 0;
   padding: 0.5rem 0.25rem;
   background: rgb(247, 242, 246); 
   background: -webkit-linear-gradient(rgb(247, 242, 246), rgb(178, 172, 158));
   background: linear-gradient(rgb(247, 242, 246), rgb(178, 172, 158));
   box-shadow: 0 10px 6px -6px #777;
   animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.switch_controls button:active{
    box-shadow: 0 2px 6px -6px #777;
}

.form-group{
    display: block;
    padding: 0 1rem;
}

.form-errors{
    display: block;
    width: inherit;
    color: #777;
    font-size: 1rem;
    font-weight: 700;
    
}

.form-errors span:first-child{
    word-wrap: break-word;
    display: block;
    margin: 0.5rem 0;
}

.form-row
{
    width: 100%;
    margin: 0.5rem 0;
    text-align: center;
}

.form-label{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 0.75rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
}

button.switch{
    height: 8rem;
    width: 8rem;
    margin: 0.5rem; 
    position: relative;
    border-radius: 50%;
    transition: all 0.2s ease-in;
    background: rgb(247, 242, 246); 
    background: -webkit-linear-gradient(rgb(247, 242, 246), rgb(178, 172, 158));
    background: linear-gradient(rgb(247, 242, 246), rgb(178, 172, 158));
}

button.switch::after{
    content: "OFF";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 75%;
    width: 75%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    letter-spacing: 0.25rem;
    background: #cbc7bc; 
    transform: translate(-50%, -50%);
    background: -webkit-linear-gradient(#cbc7bc, #d2cbc3);
    background: linear-gradient(#cbc7bc, #d2cbc3);
}

button.switch.switched{
   background: #FFFFFF;
   box-shadow: 0 0 1rem 1.25rem rgba(255,255,255, 0.35); 
}

button.switch.switched::after{
    content: "ON";
    color: #777;
    box-shadow: 0 8px 6px -6px #777;
    background: #FFFFFF; 
    background: -webkit-linear-gradient(#FFFFFF, #FAFAFA);
    background: linear-gradient(#FFFFFF, #FAFAFA);
}
